<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Retaurant for launch">
        <meta name="author" content="rois faozi">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#1c2237" />
        <link rel="apple-touch-icon" href="/images/favicon/favicon-192x192.png">
        <link rel="icon" href="/images/favicon/favicon-192x192.png">
        <title>Restaurant Apps Starter Project</title>
    </head>

    <body>
        <a tabIndex="0" href="#content" class="skip">Menuju ke konten</a>
        <header class="navbar" id="home">

            <nav id="drawer" class="navbar-container container">
                <div class="navbar-logo">
                    <a class="navbar-icon" href="/">Hunger Apps</a>
                </div>

                <button id="hamburger" aria-label="navigation-menu">☰</button>
                <ul class="nav-menu">
                    <li class="nav-item"><a class="nav-links" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-links" href="#/favorite">Favorite</a></li>
                    <li class="nav-item"><a class="nav-links" href="https://github.com/Roisfaozi" target="_blank"
                            rel="noopener noreferrer">About Us</a></li>
                </ul>
            </nav>
        </header>

        <main id="content">
            <!-- <div class="hero">
                <div class="hero-container">

                    <img src="./images/heros/hero-image_2.jpg" alt="hero image">
                </div>
                <div class="text-header">
                    <h1 tabindex="0">Looking for Lunch?</h1>
                    <h2 tabindex="0">Stop find yout favorite restaurant and have a lunch break.</h2>
                    <button class="btn-info">Check it now!</button>
                </div>
            </div>
            <section>

                <div class="resto-container">
                    <h2 class="resto-list-header">Choose Restaurant</h2>
                    <div class="resto-list">
                        <!-- Resto List Here -->


            </div>
            <div id="not-found"></div>
            </div>
            </section> -->

        </main>

        <footer>
            <div tabIndex="0">
                <p>Copyright @ 2020 - Hunger Apps</p>
            </div>
        </footer>

    </body>

</html>