<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Retaurant for launch">
        <meta name="author" content="rois faozi">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="manifest" href="manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#1c2237" />
        <link rel="apple-touch-icon" href="/images/favicon/favicon-192x192.png">
        <link rel="icon" href="/images/favicon/favicon512x512.png">
        <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
        <title>Restaurant Apps Starter Project</title>
    </head>

    <body>
        <a tabIndex="0" href="#resto" class="skip">Menuju ke konten</a>
        <header class="navbar" id="home">

            <nav id="drawer" class="navbar-container container">
                <div class="navbar-logo">
                    <a class="navbar-icon" href="/">Hunger Apps</a>
                </div>

                <button id="hamburger" aria-label="navigation-menu">☰</button>
                <ul class="nav-menu">
                    <li class="nav-item"><a class="nav-links" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-links" href="#/favorite">Favorite</a></li>
                    <li class="nav-item"><a class="nav-links" href="https://github.com/Roisfaozi" target="_blank"
                            rel="noopener noreferrer">About Us</a></li>
                </ul>
            </nav>
        </header>

        <main id="content">


        </main>

        <footer>
            <div tabIndex="0">
                <p>Copyright © 2020 - Hunger Apps</p>
            </div>
        </footer>

    </body>

</html>