@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "PT sans", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

.navbar {
    background: #1c2237;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 20pt;
    display: flex;
    align-items: center;
}

.skip {
    display: block;
    z-index: 9999;
    position: absolute;
    top: -11%;
    left: 0;
    background-color: #393e46;
    color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    transition: 0.5s ease-in-out;
}

.skip:focus {
    top: 0;
    top: 5%;
    transition: 0.5s ease-in-out;
}
#hamburger {
    margin-right: 0.5rem;
    display: none;
    color: white;
    text-decoration: none;
    min-width: 44px;
    min-height: 44px;
}

/* #drawer.open {
    transform: translate(0, 0);
} */

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: end;
}

.nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid #f00946;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.navbar-icon {
    margin-right: 0.5rem;
    text-decoration: none;
    color: #fff;
    min-height: 44px;
    min-width: 44px;
}

.hero {
    width: 100%;
}

.hero-container {
    width: 100%;
    overflow: hidden;
    max-height: 88vh;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.text-header {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, 50%);
    max-width: 60%;
}

.text-header h1 {
    font-size: 6vw;
    padding: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(26, 26, 43);
}

.text-header h2 {
    font-size: 4vw;
    padding: 0;
    color: rgb(26, 26, 43);
    font-weight: 400;
}

.btn-info {
    width: 30%;
    background-color: #2b2b34;
    border-radius: 8px;
    font-size: 12pt;
    min-width: 44px;
    min-height: 44px;
    color: #f6f5f5;
    cursor: pointer;
    margin-top: 30px;
}

/* main content */

main {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.resto-container {
    height: auto;
    margin: 30px;
}

.resto-list-header {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(26, 26, 43);
    margin-bottom: 30px;
}

.resto-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 8%;
}

.resto-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.resto-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.resto-image {
    max-height: 250px;
    overflow: hidden;
    object-fit: cover;
}

.resto-image img {
    width: 100%;
    height: 100%;
}

.resto-content {
    margin: 20px;
}
.resto-content a {
        text-decoration: none;

}

.resto-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #1c2237;
}

.resto-description {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #1c2237;
    opacity: 0.8;
}

.resto-rating {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f00946;
}

.resto-city {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 11px;
    color: #1c2237;
}

.restaurant {
    margin: 30px auto;
    max-width: 800px;
}

.restaurant .restaurant-title {
    margin: 10px 0;
}

.restaurant .restaurant-title span {
    font-weight: normal;
    color: rgb(211, 206, 165);
    font-size: 15pt;
}

.restaurant .restaurant-poster {
    width: 100%;
}

.restaurant h3 {
    margin: 15px 0;
}

.restaurant .restaurant-desc p {
    margin-bottom: 10px;
}

.restaurant .restaurant-desc p span {
    font-weight: bold;
}


.restaurant .restaurant-desc .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 16px;
    margin: 32px 0;
}

.review {
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px;
}

/* Footer */
footer {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    background: #1c2237;
}

footer p {
    padding: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 2vw;
}
